*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}

body{
    background: #e3e9f7;
}

header{
    width: 80%;
    height: 70px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.logo i{
    font-size:30px
}

.logo__titulo{
    display: block;
    text-align: center;
}

nav .logo{
    display: none;
}

nav ul{
    display: none;
}

nav ul li a {
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover{
    background: #f6f4ff;
}

nav ul li a.active{
    background:#675cff;
    color: #fff;
}

.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.4s;
}

.hamburger div{
    width: 30px;
    height: 2px;
    margin: 5px 0;
    background: #212526;
}

.container{    
    display: flex;
    margin: 5% auto;    
    width: 80%;
    justify-content: space-around;
    align-items: center; 
}

.container__descricao{    
    text-align: center;
}

.container__foto img{
    width: 30em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
    
}

.container__botao{
    margin: 2em 2em;    
    width: 80%;
    background-color:#675cff;
    color: #FFF;
    border: none;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}

.carrosel{
    display: none;
}

.card{
    display: none;
}

@media only screen and (max-width: 412px){
    header{
        width: 90%;
        padding: 0 20px;        
    }

    .logo__titulo{
        display: block;
        text-align: center;
    }

    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background: #fefefe;
        transition: 0.3s;
        box-shadow: 2px 0 20px 0 rgba(0,0,0,0.05);
    }

    #nav_check:checked ~ nav{
        left: 0;
    }

    .container{
        display: none;
    }
    
    nav .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15;
        border-radius: 5px;

    }
    .hamburger{
        display: block;
    }

    .carrosel{
        display: block;
    }

    .card{
        display: block  ;
    }

    .azul{
        color: #02428a;       
    }
}