@import url(/styles/menu.css);
@import url(/styles/card.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');


:root{
    --font-family: 'Poppins', sans-serif;
    --bg-color: #C2D9FF;
    --cor-primaria: #190482;
    --cor-secundaria: #7752FE;
    --cor-terciaria: #8E8FFA;
}

body{
    background-color: var(--bg-color);
    color: var(--cor-primaria);
    font-family: var(--font-family);
}

a:visited{
    color: var(--cor-primaria);
}

@media screen and (min-width:1024px){
    header{
        display: flex;
        justify-content:space-between;
        padding: 0 1em;
        
    }
    .logo__titulo{
        margin: 0 auto;
    }
    .botao__saibamais{
        display: none;
    }
    .card{
        display: none;
    }
    .hamburger{
        display: none;
    }
}