@import url(/styles/menu.css);
@import url(/styles/card.css);
@import url(/styles/conteudo.css);
@import url(/styles/carrosel.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');


:root{
    --font-family: 'Poppins', sans-serif;
    --bg-color: #C2D9FF;
    --cor-primaria: #190482;
    --cor-secundaria: #7752FE;
    --cor-terciaria: #8E8FFA;
}

body{
    background-color: var(--bg-color);
    color: var(--cor-primaria);
    font-family: var(--font-family);
    
}

a:visited{
    color: var(--cor-primaria);
}

/*----------Desktop------------*/
.telaGrande{
    display: none;
}



@media screen and (min-width:1024px){
    header{
        display: flex;
        justify-content:space-between;
        padding: 0 1em;
        
    }
    .logo__titulo{
        margin: 0 auto;
    }
    .carrosel{
        display: none;
    }

    .botao__saibamais{
        display: none;
    }
    .card{
        display: none;
    }
    .hamburger{
        display: none;
    }

    .telaGrande{
        display: flex;        
        margin: 5% auto;    
        width: 70%;
        justify-content: space-around;
        
        
    }

    .container__descricao{
        text-align:center;
        margin: 2em;
    }

    .container__descricao h1{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .container__botao{
        margin: 2em 2em;    
        width: 80%;
        background-color: var(--cor-secundaria);
        color: #FFF;
        border: none;
        padding: 1em;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    
        transition: 0.4s;    
    }

    .container__botao:hover{
        transform: scale(1.1);
        
    }

    .container__botao a{
        text-decoration: none;
    }

    a:visited{
        color: var(--cor-primaria);
        text-decoration: none;
    }

    .container__foto img{
        width: 25em;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }  

    .qrCode{
        display: flex;
    }
    
}