
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center ;
    width: 100%;
        
}

.card__conteudo{
    background: var(--bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
    margin: 2em;
}

.title{
    color: var(--cor-primaria);
    margin: 1em 1em;
    font-weight: 700;
}
.topCard{
    margin: 1em 1em;
}

.mediaCard__1FD{
    background: url("/img/1FDKarina.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2FDFoto{
    background: url("/img/2FDKarina.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__3FD{
    background: url("/img/3FDJaneteKarmem.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__6A{
    background: url("/img/6AKarina.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__7A{
    background: url("/img/escorpioes.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__7A2{
    background: url("/img/escorpioes2.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2Ae2B{
    background: url("/img/plantas1.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2Ae2B2{
    background: url("/img/plantas2.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__1C{
    background: url("/img/descobertaDNA.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__1C2{
    background: url("/img/descobertaDNA2.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2FDfoto{
    background: url("/img/2FDKarina.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2FD{
    background: url("/img/lixoEletronico.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2FD2{
    background: url("/img/lixoEletronico2.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2FDPost{
    background: url("/img/lixoEletronicoCard.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__6A1{
    background: url("/img/VulcaoEsquema.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__6A2{
    background: url("/img/VulcaoDeCima.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__3Ae3B{
    background: url("/img/DNAestrutura.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__3Ae3B2{
    background: url("/img/DNAestrutura2.png") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__3FD1{
    background: url("/img/contacaoHistoria.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__3FD2{
    background: url("/img/contacaoHistoria2.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__escola1{
    background: url("/img/ColegioAry1.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__escola2{
    background: url("/img/colegioAry2.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2TDS{
    background: url("/img/2TDS.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2TDS2{
    background: url("/img/frontEnd.png") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2TDS3{
    background: url("/img/html.png") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2TDS4{
    background: url("/img/css.png") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2TDS5{
    background: url("/img/javascript.png") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}


.mediaCard__tuan{
    background: url("/img/Tauan.jpg") center/cover;
    height: 440px;
    width: 100%;
    margin-top: 1em;
    
}

.mediaCard__carol{
    background: url("/img/Carol.jpg") center/cover;
    height: 440px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__miguel{
    background: url("/img/Miguel.jpg") center/cover;
    height: 440px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__iasmin{
    background: url("/img/iasmin.jpg") center/cover;
    height: 440px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__demetrio{
    background: url("/img/demtrio.jpg") center/cover;
    height: 440px;
    width: 100%;
    margin-top: 1em;
    
}


.mediaCard__tangram3FD{
    background: url("/img/tangram3FD.png") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__7ano{
    background: url("/img/7anoKarina.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__2B{
    background: url("/img/2BEricson.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__showDaQuimica{
    background: url("/img/showDaQuimica.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__enchendoBalao{
    background: url("/img/enchendoBalao.JPG") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__serpenteFarao{
    background: url("/img/serpenteFarao.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}


.mediaCard__violeta{
    background: url("/img/violeta.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__varinhaMagica{
    background: url("/img/varinhaMagica.png") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__Matarugo{
    background: url("/img/Matarugo.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__4FD{
    background: url("/img/4FD.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__4FD2{
    background: url("/img/4FD2.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__4FD3{
    background: url("/img/4FD3.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__oficinaHistoria{
    background: url("/img/historia.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

.mediaCard__clubXadrez{
    background: url("/img/Djaci.jpg") center/cover;
    height: 200px;
    width: 100%;
    margin-top: 1em;
}


.topCard title{
    padding: 10px;
    padding-top:0px;    
    
}

.secodText{
    color:var(--cor-terciaria);
}

.bottomText{
    color:var(--cor-terciaria);
}

.bottonCard{
    padding: 0;
}

.actionCards{
    display: flex;
    justify-content: center;
}

.bottonCard{
    text-align: center;    
    font-size: 15px;
}

.bottomText{
    margin: 0.5em;
}

.actions{    
    background-color:var(--cor-terciaria);
    border: none;
    color: var(--bg-color);
    border-radius: 8px;
    width: 70%;
    height: 40px;
    margin: 1em 0;
}

.actions a{
    text-decoration: none;
}

a:visited{
    color: unset;
}

.barra_icones{
    max-width: 100%;
    /*background: red;*/
    box-sizing: border-box;
    border: 0;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    
    
}

.icones{
    width: 15%;
    margin: 0 1em;
    border: 1px solid #000;
}